@import url('style.css');
@import url('header.css');
@import url('footer.css');

.section7__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
}
.section7_slider_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.section7_title{
    color: #1c1a1a;
    font-size: 55px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 31px;
}
.section7_slider_box_description{
    color: #5c5c5c;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    width: 60%;
    text-align: center;
    margin-bottom: 39px;
}

.section7_slider_box_name{
    color: #1c1a1a;
    letter-spacing: 1px;
    margin-top: 8px;
}

.section7_slider_box_button{
    position: absolute;
    border: 3px solid #D48A5C;
    border-radius: 50%;
    font-size: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d48a5c;
}
.section7_slider_box_button:hover{
    color: #a05729;
    border: 3px solid #a05729;
}
.section7_slider_box_button_prew{
    left: -2.9%;
}
.section7_slider_box_button_next{
    left: 98%;
}


.section8__container{
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.reservation{
    color: #d48a5c;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 10px;
}
.section8_right h1{
    color: #1c1a1a;
    font-size: 29px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 21px;
}
.section8_right input{
    width: 362px;
    height: 50px;
    padding: 16px 18px;
    padding-right: 20px;
    border: none;
}
.section8_right input:not(:last-child){
    margin-bottom: 10px;
}
.section8_right input:focus{
    outline: none;
}
.section8_right img{
    position: absolute;
}
.person_box, .date_box, .email_box{
    position: relative;
}
.person_box img, .date_box img, .email_box img{
    left: 330px;
} 
.person_box img{
    top: 13px;
}
.date_box img{
    top: 13px;
}
.email_box img{
    top: 17px;
}
.email_box{
    margin-bottom: 21px;
}


.section10__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.section10__container h1{
    font-size: 40px;
    width: 30%;
    text-align: center;
    margin-bottom: 53px;
}
.select_product_box{
    position: relative;
    margin-bottom: 19px;
}
.select_product_box::after{
    content: '';
    background: url('../img/icon/coffe.svg') no-repeat;
    width: 25px;
    height: 27px;
    position: absolute;
    top: 24%;
    right: 1%;
}

#select{
    width: 580px;
    height: 46px;
    appearance: none;
    background-image: none;
    font-size: 20px;
    padding-left: 10px;
    border: 1px solid #2a292973;
}

.comment_product_box{
    position: relative;
    margin-bottom: 44px;
}
.comment_product_box::after{
    content: '';
    background: url('../img/icon/review.svg') no-repeat;
    width: 25px;
    height: 27px;
    position: absolute;
    top: 3%;
    right: 1%;
}

#review_textarea{
    width: 580px;
    height: 198px;
    font-size: 20px;
    padding: 5px 30px 5px 10px;
    resize: none;
}

.rating_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
}
.rating_box{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.rating_box_button{
    margin-bottom: 7px;
}
.review_button{
    font-size: 20px;
    color: #fff;
    background-color: #232020;
    width: 205px;
    height: 48px;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}
.activer_rating{
    filter: brightness(0) saturate(100%) invert(59%) sepia(38%) saturate(964%) hue-rotate(350deg) brightness(97%) contrast(85%);
}





@media screen and (max-width: 1110px) {
    .section8__container{
        padding: 0 10px;
    }
}
@media screen and (max-width: 1030px) {
    .section8__container{
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }
}
@media screen and (max-width: 768px) {
    .section8_left img{
        width: 398px;
    }
}
@media screen and (max-width: 450px) {
    .section8_left{
        display: none;
    } 
}
@media screen and (max-width: 385px) {
    .person_box input, .date_box input, .email_box input{
        width: 277px;
    }
    .person_box img, .date_box img, .email_box img{
        left: 255px;
    }
}
@media screen and (max-width: 330px) {
    .section8_right h1{
        font-size: 23px;
    }
}