@import url('style.css');
@import url('header.css');
@import url('footer.css');


.section4__container{
    height: max-content;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section4__container h1{
    color: #232020;
    font-size: 55px;
    line-height: 65px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-bottom: 70px;
}

.section4_products{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(3, max-content);
    gap: 80px;
}
.section4_product{
    border: 1px solid #000;
    width: 475px;
    padding-left: 115px;
    position: relative;
}
.section4_name_coffe{
    color: #232020;
    font-size: 30px;
    /* line-height: 65px; */
    letter-spacing: 1px;
    margin-bottom: 11px;
    margin-top: 25px;
}
.price{
    color: #d48a5c;
    font-size: 20px;
    font-weight: 600;
    text-align-last: right;
    margin-right: 13px;
    margin-bottom: 13px;
    /* line-height: 26px; */
}
.section4_product_img{
    position: absolute;
    top: -25px;
    left: -64px;
}

@media screen and (max-width: 1200px) {
    .section4_product{
        width: 420px;
    }
    .section4_name_coffe{
        font-size: 25px;
    }
}
@media screen and (max-width: 1070px) {
    .section4_product{
        width: 380px;
    }
    .section4_product_img{
        top: -22px;
        left: -29px;
        width: 120px;
    }
    .section4_name_coffe{
        font-size: 20px;
        margin-top: 20px;
    } 
    .price{
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 910px) {
    .section4__container{
        height: max-content;
        padding: 10px 0;
    }
    .section4_products{
        grid-template-columns: max-content;
        grid-template-rows: repeat(6, max-content);
        justify-content: center;
        gap: 50px;
    }
    .section4_product{
        width: 500px;
    }
}
@media screen and (max-width: 768px) {
    .section4__container h1{
        font-size: 45px;
    }
}
@media screen and (max-width: 585px) {
    .section4__container h1{
        font-size: 30px;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 460px) {
    .section4_product{
        width: 320px;
        padding-left: 85px;
    }
    .section4_product_img{
        top: -19px;
        left: -29px;
        width: 100px;
    }
    .section4_name_coffe{
        margin-top: 13px;
        font-size: 16px;

    }
    .price{
        margin-bottom: 10px;
        font-size: 16px;
    }
}
@media screen and (max-width: 385px) {
    .section4__container h1{
        font-size: 26px;
        margin-bottom: 10px;
    }
    .section4_name_coffe{
        font-size: 14px;
    }
    .section4_product{
        width: 270px;
    }
}
@media screen and (max-width: 350px) {
    .section4_product_img{
        top: -9px;
        left: -21px;
        width: 85px;
    }
}